<div class="rating-stars mt-3">
    <div class="rating-stars__inner flex items-center gap-4">
        <div class="flex items-center gap-1">
            {% for i in (1..5) %}
                <div class="rating-stars__item">
                    <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.20976 1.16126C6.23372 1.11285 6.27074 1.07209 6.31664 1.04359C6.36254 1.0151 6.41549 1 6.46951 1C6.52354 1 6.57649 1.0151 6.62238 1.04359C6.66828 1.07209 6.7053 1.11285 6.72927 1.16126L7.9925 3.71999C8.07572 3.8884 8.19856 4.0341 8.35048 4.14459C8.5024 4.25508 8.67887 4.32706 8.86473 4.35434L11.6898 4.76776C11.7433 4.77551 11.7936 4.79809 11.835 4.83294C11.8763 4.86779 11.9071 4.91352 11.9238 4.96496C11.9406 5.01639 11.9426 5.07148 11.9296 5.124C11.9167 5.17651 11.8893 5.22435 11.8505 5.26211L9.8075 7.25156C9.67277 7.38286 9.57196 7.54494 9.51375 7.72384C9.45555 7.90274 9.44169 8.09311 9.47337 8.27855L9.9557 11.0894C9.96515 11.1429 9.95937 11.198 9.93902 11.2483C9.91867 11.2987 9.88457 11.3424 9.84061 11.3743C9.79665 11.4062 9.7446 11.4251 9.6904 11.4289C9.6362 11.4327 9.58203 11.4211 9.53407 11.3956L7.00871 10.0679C6.84231 9.98048 6.65718 9.93483 6.46924 9.93483C6.2813 9.93483 6.09617 9.98048 5.92977 10.0679L3.40495 11.3956C3.35701 11.421 3.3029 11.4324 3.2488 11.4286C3.19469 11.4247 3.14274 11.4058 3.09887 11.3739C3.055 11.342 3.02097 11.2984 3.00064 11.2481C2.98031 11.1978 2.9745 11.1428 2.98387 11.0894L3.46565 8.2791C3.49747 8.09357 3.48369 7.90308 3.42548 7.72407C3.36727 7.54506 3.26638 7.38289 3.13152 7.25156L1.08848 5.26266C1.04943 5.22494 1.02176 5.17702 1.00862 5.12435C0.995478 5.07167 0.997395 5.01637 1.01415 4.96473C1.03091 4.91309 1.06183 4.8672 1.1034 4.83228C1.14496 4.79736 1.1955 4.77481 1.24926 4.76721L4.07375 4.35434C4.25982 4.32727 4.43653 4.25539 4.58866 4.14489C4.74079 4.03438 4.86379 3.88857 4.94707 3.71999L6.20976 1.16126Z" fill="#DADAFF" stroke="#6638B7" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                </div>
            {% endfor %}
        </div>

        <div class="rating-stars__label">
          {{ text }}
        </div>
    </div>
</div>