@use '../config/all-config' as *;

.btn {
    cursor: pointer;
    line-height: 4.6rem;
    border-radius: 5rem;
    background-color: $primary-color;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 14rem;
    text-align: center;
    transition: all 0.3s;
    display: inline-block;
    padding: 0 1.8rem;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color;
    }

    &--walmart {
        background-color: #0053E2;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        letter-spacing: -0.5px;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }

        &::after,
        &::before {
            content: '';
            display: inline-block;
            width: 2.9rem;
            height: 2.9rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &::before   {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='29' viewBox='0 0 26 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3504 13.2126C18.9615 13.0884 24.3662 10.6379 24.8483 10.3624C25.9499 9.73305 26.327 8.33957 25.691 7.25012C25.0549 6.16067 23.6466 5.78705 22.5456 6.41636C22.0629 6.69186 17.2162 10.098 16.8019 10.5591C16.3271 11.0879 16.245 11.8438 16.5963 12.4456C16.9475 13.0473 17.6504 13.3552 18.3504 13.2126Z' fill='%23FFC220'/%3E%3Cpath d='M24.8483 18.6381C24.3657 18.3626 18.961 15.9121 18.3504 15.7879C17.6504 15.6453 16.9475 15.9527 16.5963 16.5549C16.245 17.1567 16.3271 17.9131 16.8019 18.4414C17.2162 18.9025 22.0634 22.3086 22.5456 22.5841C23.6471 23.2134 25.0554 22.8398 25.691 21.7504C26.327 20.6604 25.9494 19.267 24.8483 18.6381Z' fill='%23FFC220'/%3E%3Cpath d='M13 18.6091C12.2976 18.6091 11.6767 19.0577 11.4515 19.7285C11.2551 20.3144 10.6973 26.1705 10.6973 26.7215C10.6973 27.9797 11.728 29 13 29C14.272 29 15.3027 27.9802 15.3027 26.7215C15.3027 26.1705 14.7449 20.3139 14.5485 19.7285C14.3233 19.0572 13.7024 18.6091 13 18.6091Z' fill='%23FFC220'/%3E%3Cpath d='M7.64957 15.7879C7.03896 15.9121 1.63382 18.3626 1.15169 18.6381C0.0501412 19.2674 -0.326973 20.6609 0.309041 21.7504C0.945054 22.8403 2.35337 23.2134 3.45443 22.5841C3.93705 22.3086 8.78385 18.9025 9.19809 18.4414C9.6729 17.9126 9.75496 17.1567 9.40374 16.5549C9.05252 15.9532 8.34958 15.6453 7.64957 15.7879Z' fill='%23FFC220'/%3E%3Cpath d='M3.45443 6.41636C2.35288 5.78705 0.944566 6.16067 0.309041 7.25012C-0.326973 8.34006 0.0506296 9.73353 1.15169 10.3624C1.63431 10.6379 7.03896 13.0884 7.64957 13.2126C8.34958 13.3552 9.05252 13.0478 9.40374 12.4456C9.75496 11.8438 9.6729 11.0874 9.19809 10.5591C8.78385 10.098 3.93705 6.69186 3.45443 6.41636Z' fill='%23FFC220'/%3E%3Cpath d='M13 0C11.7285 0 10.6973 1.01985 10.6973 2.27847C10.6973 2.82948 11.2551 8.68613 11.4515 9.27194C11.6767 9.9433 12.2976 10.3914 13 10.3914C13.7024 10.3914 14.3233 9.94282 14.5485 9.27194C14.7449 8.68613 15.3027 2.82996 15.3027 2.27847C15.3027 1.02033 14.272 0 13 0Z' fill='%23FFC220'/%3E%3C/svg%3E%0A");
        }

        &::after {
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM15.7071 8.70711C16.0976 8.31658 16.0976 7.68342 15.7071 7.29289L9.34315 0.928933C8.95262 0.538408 8.31946 0.538408 7.92893 0.928933C7.53841 1.31946 7.53841 1.95262 7.92893 2.34315L13.5858 8L7.92893 13.6569C7.53841 14.0474 7.53841 14.6805 7.92893 15.0711C8.31946 15.4616 8.95262 15.4616 9.34314 15.0711L15.7071 8.70711ZM1 9L15 9L15 7L1 7L1 9Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: auto 1.6rem;
        }

    }
}


.button {
    background-color: #6638b7;
    color: #fff;
    display: inline-block;
    padding: 0 2.4rem;
    line-height: 4rem;
    border-radius: 5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 14rem;
    text-align: center;
    transition: all 0.3s;
    border: 2px solid #6638b7;

    &:hover {
        background-color: #fff;
        color: #6638b7;
    }
}