<div class="bg-core_light py-16">
  <div class="mx-auto px-12 md:px-8">
    
     <a href="https://www.instagram.com/freestyle.world/">
        <p class="mb-8 text-baseLarge text-core font-bold pb-8 md:pb-2 uppercase">@freestyle.world →</p>
     </a>
    

    <iframe 
      style="border-radius:12px" 


      src="https://open.spotify.com/embed/playlist/5m8thSxpHa6LP7uNrQVGaA?utm_source=generator" 
      width="100%" 
      height="352" 
      frameBorder="0" 
      allowfullscreen="" 
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
      loading="lazy">
    </iframe>
  </div>
</div>

{% schema %}
{
  "name": "Spotify Playlist",
  "settings": [],
  "presets": [
    {
      "name": "Spotify Playlist"
    }
  ]
}
{% endschema %}