{% render 'entry' with '@/styles/sections/storepoint.scss' %}
{% capture skin_shield %}
    Skin<img src="/cdn/shop/files/heart-violet.svg?v=1744996668&amp;width=100" alt="" srcset="/cdn/shop/files/heart-violet.svg?v=1744996668&amp;width=100 100w" width="100" height="84" class="w-[1.6rem] inline-block translate-y-[-0.2rem] mx-[0.1rem]">Shield™
{% endcapture %}

{% capture bamboo_tek %}
    Bamboo<img src="/cdn/shop/files/BambooTek.png?v=1744292276&amp;width=100" alt="" srcset="/cdn/shop/files/BambooTek.png?v=1744292276&amp;width=100 100w" width="100" height="121" class="w-[1.2rem] inline-block translate-y-[-0.2rem] mx-1">Tek™
{% endcapture %}

<div class="storepoint py-16 md:py-34">
    <div class="container container-lg mx-auto">
        <h2 class="heading-3 font-grotesk mb-8 font-normal">{{ section.settings.title }}</h2>
        <div class="mb-8 max-w-[360px]">{{ section.settings.description | replace: 'skin_shield_tm', skin_shield | replace: 'bamboo_tek_tm', bamboo_tek }}</div>
        <!-- Storepoint Widget Embed Start -->
        <div id="storepoint-widget"></div>
    </div>
</div>
<script>
window.loadStorepoint=function(){
    var storepoint = new StorepointWidget(
        '168147ffdccf38',
        '#storepoint-widget',
        {}
    );
};!function(){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://widget.storepoint.co/embed.js";t.onload=function(){"function"==typeof window.loadStorepoint&&window.loadStorepoint()};document.head.appendChild(t);}();
</script>
<!-- Storepoint Widget Embed End -->

<style>

    .storepoint-container.storepoint-layout-default    {
        grid-gap: 20px;
    }

    .storepoint-container.storepoint-layout-default .storepoint-search {
        border: 0;
        padding: 0;
    }

    .storepoint-container {
        background-color: transparent;
        box-shadow: none;
        border: 0;
    }

    .storepoint-search-bar {
        background-color: #fff;
        border-radius: 25px;
        border: 1px solid #262626;
    }

    .storepoint-results,
    .storepoint-results.storepoint-location-detail-panel-visible,
    .storepoint-location-detail-panel.storepoint-location-detail-panel-visible,
    .storepoint-container.storepoint-layout-default .storepoint-map{
        border-radius: 25px !important;
        border: 1px solid #262626 !important;
        overflow: hidden !important;
    }

    .storepoint-container.storepoint-layout-default .storepoint-map {
        overflow: hidden;
    }

    .storepoint-brand   {
        display: none !important;
    }
    
    
</style>

{% schema %}
{
  "name": "Storepoint",
  "settings": [
    {
        "type": "text",
        "label": "Title",
        "id": "title"
    },
    {
      "type": "richtext",
      "label": "Description",
      "id": "description"
    }
  ],
  "presets": [
    {
      "name": "Storepoint"
    }
  ]
}
{% endschema %}