{% schema %}
{
  "name": "Hero Bottom",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Imagen Hero"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Título",
      "default": "Diapers just caught a vibe."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Texto del botón",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "URL del botón"
    }
  ],
  "presets": [
    {
      "name": "Hero Bottom"
    }
  ]
}
{% endschema %}

<div class="w-full flex flex-col md:flex-row py-30 bg-core px-4 md:px-34 gap-6 md:gap-12">
  <div class="w-full md:w-[40%] relative">
    <div class="absolute -top-4 -right-4">
      <svg viewBox="0 0 100 100" width="120" height="120" class="animate-spin-slow">
        <defs>
          <path id="circle" d="M 50,50 m -37,0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0"/>
        </defs>
        <text>
          <textPath href="#circle" class="fill-[#4CFD9F] text-baseLarge">LIMITED EDITION LIMITED EDITION</textPath>
        </text>
      </svg>
    </div>
    {%- if section.settings.hero_image -%}
      {{ section.settings.hero_image | image_url: width: 800 | image_tag: 
        class: "w-full h-auto object-cover",
        loading: "lazy"
      }}
    {%- endif -%}
  </div>
  
  <div class="w-full md:w-[60%] flex flex-col items-center md:items-start justify-start py-6 md:py-30 px-4 md:px-52">
    <h1 class="text-4xl md:text-5xl mb-8 md:mb-12 text-green flex items-center justify-center text-center md:text-left max-w-xl">
      {{ section.settings.heading }}
    </h1>
    
    {%- if section.settings.button_label != blank and section.settings.button_link != blank -%}
      <a href="{{ section.settings.button_link }}" class="inline-block pt-6 px-8  text-yellow text-xl font-bold  md:px-14 py-6 md:py-8 rounded-full  md:text-xl  md:font-semibold hover:whitespace-nowrap w-fit hover:transition-all duration-300 hover:text-yellow hover:bg-hover-gradient hover:bg-gradient-size hover:animate-gradient-wave">
        {{ section.settings.button_label }}
      </a>
    {%- endif -%}
  </div>
</div>
