@use '../config/all-config' as cfg;

/* Header */
.b-header {
  $mobile-resolutions: 768px;

  &.m-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 998;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  &__promo {
    @apply text-[10px] lg:text-base relative w-full py-6 px-12 text-center;

    &-close {
      @apply absolute right-4 top-1/2 transform -translate-y-1/2 hover:opacity-75;
    }
  }

  &__wrapper {
    @apply relative;
  }

  &__inner {
    @apply mx-auto flex justify-between items-center;
  }

  &__inner-menu {
    li:first-child {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        right: -7px;
        top: -5px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background-color: #6638B7;
      }
    }
  }

  &__logo {
    @apply flex-1 lg:flex-none text-center lg:text-left lg:mx-12;

    img {
      @apply h-12 w-auto;
    }
  }


  .menu-item {
    &.m-active {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        right: -7px;
        top: -5px;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #6638B7;
      }
    }
  }

  &__mobile-menu {
    top: 0;
    left: 0;
    width: 460px;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @include cfg.media(max-m) {
      width: 80%;
    }
  }

  &__nav-right {
    display: flex;
    margin-left: 5rem;
    margin-right: 4rem;

    .b-header__inner.m-center & {
      justify-content: flex-end;
      margin-left: 0;
    }

    .b-header__inner.m-left &,
    .b-header__inner.m-above & {
      order: 3;
    }

    .b-header__inner.m-above & {
      flex-grow: 1;
    }
  }

  &__nav-left,
  &__nav-right {
    .b-header__inner.m-center & {
      flex-grow: 1;
    }

    @include cfg.media(max-m) {
      display: none;
    }
  }

  &__cartlogin {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 23px;

    .b-header__inner.m-left &,
    .b-header__inner.m-above & {
      order: 4;
    }
  }

  &_cart-toggle {
  }

  &__cart-count {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    background-color: var(--color_1);
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    width: 20px;
    height: 20px;
  }

  &__account {
    @include cfg.media(max-m) {
      display: none;
    }
  }

  &__list {
    gap: 41px;

    @include cfg.media(max-t) {
      gap: 20px;
    }
  }

  &__list-item {
    font-size: 1.6rem;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__list-link {
    color: var(--color_1);
    transition: color 0.3s;
    position: relative;

    &::after,
    &::before {
      content: '';
      position: absolute;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: var(--color_1);
      transition: width 0.3s;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &:hover,
    &.m-active {
      color: var(--color-black);

      &::before,
      &::after {
        width: 50%;
      }
    }
  }
}
