
@use '../config/all-config' as *;

.b-details_mtobj {
  padding: 90px 0;

  @include media(max-t) {
    padding: 40px 0;
  }

  @include media(max-m) {
    padding: 20px;
  }

  &--title {
    padding: 0 0 40px;
    letter-spacing: -2px;

    span {
      font-family: 'FK Roman Standard';
      font-weight: 400;
    }
  }

  &--box {
    gap: 30px;

    @include media(max-t) {
      flex-direction: column;
    }
  }

  &--column {
    border: 1px solid #262626;
    border-radius: 28px;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.2em;
    letter-spacing: -0.5px;
  }

  &--column-title {
    background-color: $secondary-color;
    padding: 19px 30px 20px;
    border-bottom: 1px solid #262626;
    display: flex;
    gap: 5px;

    img {

    }
  }

  &--column-list {
    ul {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    li {
      padding-left: 20px;
      position: relative;

      &::before {
        content: '';
        background-image: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/Vector_8.svg?v=1745400868');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: -10px;
        top: 2px;
        width: 21px;
        height: 21px;
      }
    }
  }

  &--column-list2 {
    ul {
      display: grid;
      grid-template-columns: 1fr auto;
    }

    li {
      position: relative;
      padding: 20px 30px;
      border-top: 1px solid #262626;
    }

    li:nth-child(odd) {

      &::after {
        content: '';
        position: absolute;
        right: 0;
        border-right: 1px solid #262626;
        top: 0;
        height: 300%;
      }
    }

    li:nth-child(even) {
      text-align: center;
    }

    li:nth-child(1),
    li:nth-child(2) {
      background-color: $secondary-color;
      font-weight: 500;
      border-top: none;
    }
  }
}