.product {
    &__inner {
        display: grid;
        gap: 4.8rem;
        grid-template-columns: 1fr 1fr;
    }

    &__gallery {
        gap: 1rem;
        
        &-main {
            width: calc(100% - 9.5rem);

            img {
                border-radius: 3rem;
            }
        }

        &-thumbs {
            width: 9.5rem;

            img {
                border-radius: 2rem;
            }
        }
    }

    &__sizes {
        &-list{
            gap: 1rem;
            display: flex;
        }
    }

    &__size {
        display: block;
        width: 25%;
        cursor: pointer;

        input {
            display: none;
        }

        &-content {
            border-radius: 1.6rem;
            overflow: hidden;
            text-align: center;
            border: 1px solid #E3E3E3;
        }

        input:checked + &-content {
            border-color: #000;
        }

        input:checked + &-content &-info {
            background-color: #F3B232;
        }

        input:checked + &-content &-price {
            background-color: #FFD780;
            border-color: #000;
        }

        &-info {
            padding: 1.6rem 0.6rem 1rem;
            gap: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        &-title {
            font-size: 2.4rem;
            font-weight: 700;
            color: #000;
        }

        &-weight {
            font-size: 1.4rem;
        }

        &-price {
            border-top: 1px solid #E3E3E3;
            padding: 1.2rem 0.6rem;
            font-weight: 500;
        }
    }

    &__diapers {
        font-weight: 700;
    }
}
