@font-face {
    font-family: 'GroteskNeue';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/FKGroteskNeue-Medium.woff2?v=1743191817') format('woff2');
    font-weight: medium;
    font-style: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GroteskRegular';
    src: url('https://cdn.shopify.com/s/files/1/0616/2835/0723/files/FKGroteskNeue-Regular.woff2?v=1743191817') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roman-light';
    src: url('/public/fonts/FKRomanStandard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@media (min-width: 768px) {
  .desktop-gap-1_5rem {
    gap: 1.5rem;
  }
}